* {
  margin: 0;
}

:root {
  /* "el elemento raíz" -> más prioridad que html, pero escencialmente lo mismo */
  height: 100dvh;
}

body {
  height: 100%;
  background-color: #000;
}

#grilla {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: 150px auto;
  grid-template-rows: 50px auto;
}

#fixed {
  position: fixed;
  width: 100%;
  background-color: #000;
  grid-area: header;
}

header {
  /* display: grid;
  width: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr; */
  padding: 10px;

  display: flex;
  justify-content: space-between; /* alineación horizontal */

  /* Se ven mejor cuando la pantalla se achica */
  flex-wrap: wrap;
  align-content: space-around; /* alineación vertical */
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: #fff;
  color: #000;
}

#logo,
#busqueda,
#perfil {
  display: flex;
}

#busqueda {
  /* flex-grow: 1; */
  flex-shrink: 1;
  flex-basis: 700px;
  justify-content: center;
}

#busqueda > input {
  border-radius: 20px 0 0 20px;
  border: none;
  width: 100%;
  max-width: 400px;
}

#busqueda > #buscar {
  border-radius: 0 20px 20px 0;
  margin-right: 10px;
}

#crear > span {
  font-size: 26px;
  margin-right: 5px;
}

#camp {
  background-color: #00000000;
}

aside {
  grid-area: aside;
  padding: 20px;
  overflow-y: scroll;
}

aside > nav > button {
  margin: 10px 0;
  height: 30px;
}
main {
  grid-area: main;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 50px;
}

main > div {
  flex-basis: 200px;
  border: solid 1px #fff;
  border-radius: 15px;
}

main > div > img {
  border-radius: 15px 0 0 15px;
}

main > div > p {
  color: #fff;
}
